* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: arial, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: ;
}
