@charset "UTF-8";

* { /*geral; reset*/
    color: red;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: blueviolet;
}

h2 {
    color: brown;
}

h2#economy { /*id especifico*/
    color: gold;
}

.creation-date { /*classe*/
    color: rgb(128, 128, 128);
}

