@charset "UTF-8";

* { /*geral; reset*/
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header li {
    display: inline;
    width: 0 auto;
}

.container {
    width: 1366px;
    margin: 0 auto; /* o quadrante da box, pode ser escrito 0 auto 0 auto */
}

.articles {
    display: flex;
}

.articles article img {
    height: 180px;
}

